<section class="statusbar">
    <nav class="statusbar__breadcrumb">
        <ul>
            <li><i class="pi pi-home"></i></li>
            <li><i class="pi pi-angle-right"></i></li>
            <li>Dashboard</li>
        </ul>
    </nav>
    <ul class="statusbar__buttons">
        <li>
            <a pRipple>
                <i class="pi pi-cloud"></i>
            </a>
        </li>
        <li>
            <a pRipple>
                <i class="pi pi-power-off"></i>
            </a>
        </li>
    </ul>
</section>
