.sidebar {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0rem;
    background-color: var(--primary-color);

    display: flex;
    visibility: visible;
    opacity: 1;
    flex-direction: column;
    flex: 1 1 auto;

    width: var(--sidebar-width);
    z-index: 9999;
    overflow: visible;
    border-right: 1px solid var(--surface-border);
    user-select: none;

    box-shadow: 2px 0 4px -1px rgba(0, 0, 0, 0.2), 4px 0 5px rgba(0, 0, 0, 0.141), 1px 0 10px rgba(0, 0, 0, 0.122);

    &__header {
        display: flex;
        gap: $inlineSpacing;
        justify-content: center;
        align-items: center;
        height: 4rem;
        padding: 0 1.5rem;
    }

    .logo-app {
        display: none;
        flex-direction: column;
        flex: 1 1 auto;
        justify-content: center;
        align-items: flex-start;

        &__sigla {
            font-size: calc(1rem * $scaleLG);
            font-weight: 600;
            color: var(--primary-color-text);
        }

        &__descricao {
            font-size: calc(1rem * $scaleXS);
            color: var(--tertiary-color);
        }
    }

    &__pin {
        display: none;
        justify-content: center;
        align-items: center;
        color: var(--primary-color-text);
        cursor: pointer;
        height: 100%;

        > a {
            > i {
                font-size: calc(1rem * $scaleLG);
            }
        }
    }

    &__sigla {
        margin-left: 0.5rem;
        font-size: 1.5rem;
        font-weight: 700;
    }

    &__navigation {
        // @extend %menu;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        justify-content: flex-start;
        margin-top: 2rem;
    }

    &__footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: auto;
        border-top: 1px solid alpha(--primary-200, 0.32);

        &--expanded {
            .sidebar__submenu {
                display: flex;
            }
        }
    }

    &__submenu {
        @extend %menu;
        display: none;
        padding: 0.5rem 0 0 0;
        width: 100%;
    }

    .sidebar--extended &,
    .sidebar--fixed & {
        &__header {
            justify-content: flex-start;
            padding: 0 0.75rem;
        }

        .logo-app {
            display: flex;
        }

        &__pin {
            display: none;

            @include responsive(tablet-landscape) {
                display: flex;
            }
        }

        // &__navigation,
        &__submenu {
            ul li > a {
                justify-content: flex-start;

                span {
                    display: inline-block;
                }
            }
        }

        &__footer {
            align-items: stretch;
        }
    }
}
