<!-- <section class="recent-notifications">
    <h1>Notificações Recentes</h1>
    <ul>
        <li class="notification">
            <p class="notification__title">Pendência de Apuração</p>
            <p class="notification__message">Você possui 5 indicadores mensais com apurações pendentes</p>
            <p class="notification__time">14/04/2023 14:47</p>
        </li>
        <li class="notification">
            <p class="notification__icon">

            </p>
            <p class="notification__content">
                <p class="notification__title">Pendência de Apuração</p>
                <p class="notification__message">Você possui 2 indicadores anuais com apurações pendentes</p>
            </p>
            <p class="notification__time">13/04/2023 10:25</p>
        </li>
    </ul>
</section> -->
